body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

#wrapper{
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

button{
    width: 40px;
    height: 30px;
    margin: 5px;
}

#equ{
    width: 100%;
}

#p1{
    border: 1px solid silver;
    font-size: 2em;
}